<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/ejercicio1.css">
    <title>Ejercicio1</title>
</head>

<body>
    <header>
            <div class="logo">
                <a href="" class="ini-icon"><img src="../assets/imagenes/logo.png" alt="Logotipo"> </a>

            </div>
                <nav>
                <a href="">INICIO</a>
                <a href="">ABOUT</a>
                <a href="">SERVICIOS</a>
                <a href="">CONTACTO</a>
                <a href="" id="ingles">EN</a>
                <a href=""id="español"> ES</a>

                </nav>
            </div>

        

    </header>
    
</body>
</html>